{% extends 'base2.html' %}

{% block title %}Enter new password{% endblock title %}

{% block content %}
<style>
    .space-top-4 { padding-top: 12.5rem;}
</style>

        <!--================Home Banner Area =================-->
        <section class="banner space-top-4">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-center">
                        <h2>Set a new password! </h2>
                        <div class="page_link">
                            <a href="{% url 'home'%}">Home </a> |
                            <a href="#">Set Password!/a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        <!--================Change Password Area =================-->    
    
    
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <input class="btn btn-success" type="submit" value="Change my password">
    </form>
    
    
        <!--================Change Password Area =================-->    

{% endblock content %}