{% extends 'base2.html' %}

{% block title %}Blog | {{ block.super }}{% endblock title %}

{% load static %}

{% block content %}


<div class="container single_product_container ">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <section class="banner" >
                <div class="banner_inner d-flex align-items-center">
                    <div class="container">
                        <div class="banner_content text-center">
                            <h2>Blog</h2>
                            <div class="page_link">
                                <a href="{% url 'home'%}">Home </a> |
                                <a href="{% url 'blog' %}">Blog </a>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
          
            <!--================Blog Box Area =================-->
        {% for post in all_post_list %}
            <div class="card">
                <div class="card-header">
                    <span class="font-weight-bold">{{post.title}}</span> &middot;
                    <span class="text-muted">by {{ post.author }} | 
                        {{ post.created_at }}</span>
                </div>
                <div class="user_pic"></div>
                <div class="card-body">
                    <p>       {{post.body}} </p>
                        <button href="{% url 'blog_detail' post.pk %}"> Read more</button> 
                 
                    <a href="{% url 'blog_edit' post.pk %}">Edit</a> |
                    <a href="{% url 'blog_del' post.pk %}">Delete</a>
                </div>
                <div class="card-footer">
                    {% for comment in post.comments.all %}
                        <p>
                            <span class="font-weight-bold"> {{ comment.author }} &middot; </span>
                            {{ comment }}
                        </p>
                    {% endfor %}
                </div>
            </div>
            <br/>




<!-- https://codepen.io/ChuiSauCE/pen/KGpQbe
            <div class="container mt-5">
                <div class="row">
                  <div class="col-12">
                    <article class="blog-card">
                      <div class="blog-card__background">
                        <div class="card__background--wrapper">
                          <div class="card__background--main" style="background-image: url('http://demo.yolotheme.com/html/motor/images/demo/demo_131.jpg');">
                            <div class="card__background--layer"></div>
                          </div>
                        </div>
                      </div>
                      <div class="blog-card__head">
                        <span class="date__box">
                          <span class="date__day">11</span>
                          <span class="date__month">JAN</span>
                        </span>
                      </div>
                      <div class="blog-card__info">
                        <h5>HARVICK GETS WHAT HE NEEDS, JOHNSON AMONG THOSE</h5>
                        <p>
                          <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> Tony Jahson</a>
                          <a href="#" class="icon-link"><i class="fa fa-comments-o"></i> 150</a>
                        </p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque vero libero voluptatibus earum? Alias dignissimos quo cum, nulla esse facere atque, blanditiis doloribus at sunt quas, repellendus vel? Et, hic!</p>
                        <a href="#" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              
              <section class="detail-page">
                <div class="container mt-5">
                  
                </div>
              </section> -->
        {% endfor %}

</div>



{% endblock content %}
